<a routerLink="/" routerLinkActive="activeLink">Home</a> | 
<a *ngIf="userIsAuthenticated" routerLink="/create" routerLinkActive="activeLink">Create</a> |
<a routerLink="/test" routerLinkActive="activeLink">Test</a> |
<a *ngIf="!userIsAuthenticated" routerLink="/login" routerLinkActive="activeLink">Login</a> | 
<a *ngIf="!userIsAuthenticated" routerLink="/signup" routerLinkActive="activeLink">Sign Up</a> | 
<button *ngIf="userIsAuthenticated" (click)="onLogout()">Logout</button> 
<div>&nbsp;</div>